#!/usr/bin/env xdg-open
[Desktop Entry]
Name=Log Viewer
GenericName=Log Viewer
X-GNOME-FullName=Log Viewer
Exec=/opt/LogViewer/log_viewer
Terminal=false
Icon=/opt/LogViewer/smallicon.png
Type=Application
StartupNotify=true
Categories=GTK;GNOME;System;Utility;
Name[en_US]=Log Viewer
